@import "../styles/mixins";
@import "../styles/variables";

.header {
    position: fixed;
    background-color: #222222;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;

    &__container {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @media (max-width: 1030px) {
            justify-content: space-around;
        }
    }

    &__btn-list {

    }

    &__btn{
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        transition: 0.2s;
        padding-right: 10px;
        font-weight: 700;

        &:hover {
            text-shadow: 0 0 5px #65DAFF
        }
    }
    
    &__logo-text {
        text-decoration: none;
        color: #ffffff;
        font-size: 25px;
    }

    &__logo-img {
        height: 24px;
        padding-right: 7px;
    }
}

.welcome {

    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/apex-legends-pathfinder-robot-emoticons-saluting-futuristic.jpg") center/cover no-repeat;
    @media (max-width: 1250px) {
        background: url("../img/apex-legends-pathfinder-robot-emoticons-saluting-futuristic.jpg") right/cover no-repeat;
    }
    &__content {
        margin-left: 35px;
        position: absolute;
        width: 50%;
        top: 50%;
        translate: 0 -50%;
        
    }

    &__title {
        font-size: 100px;
        color: #4e4e4e;

        @media (max-width: 945px) {
            font-size: 90px;
        }

        @media (max-width: 825px) {
            font-size: 70px;
        }

        @media (max-width: 660px) {
            font-size: 50px;
            color: $white;
            backdrop-filter: blur(15px);
            border-radius: 20px;
            padding: 10px;
            width: fit-content;
        }

        @media (max-width: 525px) {
            font-size: 38px;
        }
    }

    &__text {
        font-size: 50px;
        margin-top: 35px;
        color: #4e4e4e;

        @media (max-width: 825px) {
            font-size: 35px;
        }

        @media (max-width: 660px) {
            color: $white;
            backdrop-filter: blur(15px);
            border-radius: 20px;
            padding: 10px;
        }

        @media (max-width: 525px) {
            font-size: 25px;
        }
    }

    &__btn {
        @include section-btn;

        @media (max-width: 825px) {
            height: 50px;
            width: 200px;
            line-height: 50px;
        }

        @media (max-width: 825px) {
            height: 50px;
            width: 175px;
            line-height: 50px;
        }
    }
}

.about {

    margin-top: 90px;
    &__container {
        @include container;
    }

    &__content {
        display: flex;

        @media (max-width: 735px) {
            flex-direction: column;
            align-items: center;
            gap: 70px;
        }
    }

    &__card {
        width: 25%;
        text-align: center;

        @media (max-width: 735px) {
            width: 100%;
        }
    }

    &__img {
        height: 130px;

        @media (max-width: 500px) {
            height: 100px;
        }
    }

    &__text {
        color: $blue;
        font-size: 30px;
        margin-top: 25px;

        @media (max-width: 800px) {
            font-size: 25px;
        }

        @media (max-width: 500px) {
            font-size: 20px;
        }
    }
}

.games {

    margin-top: 90px;
    &__container {
        @include container;
    }

    &__content {
        @include section-box-shadow;
        padding: 15px;
    }

    &__title {
        @include section_title;
        color: $blue;
        text-align: center;
        margin: 25px 0;
    }

    &__card {

        display: flex;

        @media (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
        }

        &-left {
            width: 50%;

            &_reverse {
                margin-left: 20px;

                @media (max-width: 1000px) {
                    margin-left: 0;
                }
            }
        }

        &-right {
            width: 50%;
        }

        &_reverse {
            flex-direction: row-reverse;
            
            @media (max-width: 1000px) {
                flex-direction: column;
            }
        }
    }

    &__subtitle {
        color: $green;
        font-size: 25px;
        margin: 10px 0;
        border-bottom: 2px solid $green;
        width: fit-content;
        padding-bottom: 5px; 
    }

    &__text {
        @include section_text;
        padding-right: 5px;
    }

    &__img {
        height: 350px;
        width: 100%;
        object-fit: cover;
        object-position: left;

        @media (max-width: 1000px) {
            margin-bottom: 25px;
            object-position: center;
        }
    }
}

.competitons {

    margin: 100px 0;
    &__container {
        @include container;
    }

    &__title {
        @include section-title;
        margin: 30px 0;
        text-align: center;
    }

    &__text {
        @include section-text;
        text-align: center;

        padding: 5px;
    }
}

.social {

    &__container {
        @include container;
    }

    &__discord-link {
        text-align: center;
        text-decoration: none;
    }

    &__title {
        @include section-title;
        margin: 35px 0;
        padding: 5px;
    }

    &__card {
        @include section-box-shadow;
        height: 300px;
        width: 100%;
        margin: 50px 0;
    }

    &__text-go {
        text-align: center;
        color: $white;
        font-size: 25px;
        line-height: 100px;
    }

    &__divider {
        @include section-divider;
        background-color: $white;
        margin: auto;
    }

    &__link-container {
        width: 90%;
        height: 150px;
        margin: 20px auto;
        background-color: $blue;
        display: flex;
        justify-content: space-around;
        align-items: center
    }

    &__text-click {
        @include section-text;
        font-weight: bold;
        font-size: 35px;

        @media (max-width: 470px) {
            font-size: 25px;
        }
        
    }

    &__btn {
        height: 45px;
        width: 200px;
        background-color: $black;
        color: $white;
        border: none;
        transition: 0.2s;
        text-align: center;
        line-height: 45px;
        text-decoration: none;

        @media (max-width: 470px) {
            width: 150px;
        }

        &:hover {
            scale: 1.1;
            transform: skewX(10deg);
        }
    }
}