@mixin section {
    max-width: 1180px;
    margin: auto;
}

@mixin section-title {
    font-size: $section-title;
    color: $black;
    font-weight: bolder;
}

@mixin section-top-title {
    font-size: $section-top-title;
    color: $yellow;
}