// COLORS \\
$white: #ffffff;
$light-white: #fff3;
$gray: #F3F5F4;
$light-gray: #fdfdfd67;
$dark-gray: #808080;
$transparent: #fff0;
$black: #000000;
$yellow: #F2BE22;
$dark-green: #1A3E3E;

// FONTS \\
$section-title: 32px;
$section-top-title: 24px;