@mixin container {
    max-width: 1000px;
    margin: 0 auto;
}

@mixin section-title {
    font-size: 30px;
    font-weight: 700;
    color: #65daff;
}

@mixin section-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color: #ffffff;
}

@mixin section-box-shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

@mixin section-divider {
    border: none;
    height: 2px;
    width: 25%;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: $white;
}

@mixin section-btn {
    display: inline-block;
    text-align: center;
    line-height: 75px;
    margin-top: 35px;
    height: 75px;
    width: 300px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(225deg, rgba(112,255,203,1) 0%, rgba(121,219,249,1) 100%);
    transition: 0.2s;

    &:hover {
        scale: 1.1;
        border-radius: 15px;
    }
}