@import "../styles/fonts.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

* {
    font-family: 'PT-Sans-400', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    @include header-menu;
}

.main {
    @include section;

    &__gallery {
        @include section;
        position: relative;
        background: url("../materials/1section-bg.png") center/cover no-repeat;
    }

    &__functions {
        @include section;
        padding: 100px 0;

        &-cards {
            @include container-width;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 100px;

            @media (max-width: 750px) {
                justify-content: center;
            }
        }

        &-card {
            width: 350px;
            height: 300px;
            text-decoration: none;
            text-align: center;
            margin-bottom: 50px;
            transition: 0.3s ease;

            @media (max-width: 800px) {
                width: 300px;
                height: 250px;
            }

            @media (max-width: 500px) {
                width: 230px;
                height: 170px;
            }

            &:hover {
                scale: 1.03;
            }

            &-img {
                width: 80%;
                height: 80%;
            }

            &-text {
                font-size: 35px;
                color: $dark-blue;
                padding: 15px 0;

                @media (max-width: 500px) {
                    font-size: 25px;
                }
            }
        }
    }

    &__about {
        @include section;
        background-color: $light-blue;
        padding: 100px 0;

        &-container {
            @include container-width;
        }

        &-upper-text {
            font-size: 20px;
            color: $white;

            @media (max-width: 800px) {
                font-size: 18px;
            }

            @media (max-width: 630px) {
                font-size: 16px;
            }

            @media (max-width: 540px) {
                font-size: 13px;
            }
        }

        &-title {
            position: relative;
            font-size: 110px;
            font-family: 'PT-Sans-700', sans-serif;
            color: $white;
            margin-bottom: 30px;

            @media (max-width: 800px) {
                font-size: 100px;
            }

            @media (max-width: 630px) {
                font-size: 80px;
            }

            @media (max-width: 540px) {
                font-size: 65px;
            }

            &::after {
                content: "";
                display: block;
                width: 150px;
                height: 5px;
                background-color: $white;
                position: absolute;
                bottom: -15px;
                left: 0;
            }
        }

        &-text {
            font-size: 26px;
            color: $white;
            padding-top: 10px;

            &_bold {
                font-family: 'PT-Sans-700', sans-serif;
            }

            @media (max-width: 800px) {
                font-size: 23px;
            }

            @media (max-width: 630px) {
                font-size: 20px;
            }

            @media (max-width: 540px) {
                font-size: 16px;
            }
        }

        &-advantages {
            margin-top: 40px;
            &-title {
                color: $white;
                font-size: 60px;
                font-family: 'PT-Sans-700', sans-serif;

                @media (max-width: 700px) {
                    font-size: 40px;
                }

                @media (max-width: 600px) {
                    font-size: 30px;
                }

                @media (max-width: 600px) {
                    font-size: 25px;
                }
            }

            &-container {
                @include container-width;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 50px;
            }

            &-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 30px;
                &-img {
                    width: 65px;
                    height: 65px;

                    @media (max-width: 700px) {
                        width: 55px;
                        height: 55px;
                    }

                    @media (max-width: 600px) {
                        width: 45px;
                        height: 45px;
                    }
                }

                &-container {

                    &-title {
                        font-size: 35px;
                        color: $white;
                        font-family: 'PT-Sans-700', sans-serif;

                        @media (max-width: 700px) {
                            font-size: 25px;
                        }

                        @media (max-width: 600px) {
                            font-size: 20px;
                        }
                    }

                    &-text {
                        font-size: 25px;
                        color: $white;
                        padding-left: 10px;

                        @media (max-width: 700px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    &__news {
        @include section;

        &-container {
            @include container-width;
        }

        &-title {
            position: relative;
            font-size: 110px;
            font-family: 'PT-Sans-700', sans-serif;
            color: $black;
            margin-top: 100px;
            margin-bottom: 60px;

            @media (max-width: 800px) {
                font-size: 100px;
            }

            @media (max-width: 630px) {
                font-size: 80px;
            }

            @media (max-width: 540px) {
                font-size: 65px;
            }

            &::after {
                content: "";
                display: block;
                width: 150px;
                height: 5px;
                background-color: $light-blue;
                position: absolute;
                bottom: -15px;
                left: 0;
            }
        }

        &-cards {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 35px;
        }

        &-card {
            width: 100%;
            padding: 20px 15px;
            background-color: $white-gray;
            border-radius: 10px;
            box-shadow: 0 4px 4px 0 $black-30;
            transition: 0.3s ease;

            &-date {
                font-size: 15px;
                font-family: 'PT-Sans-700', sans-serif;
                color: $black-30;
                margin-bottom: 20px;
            }

            &-title {
                font-size: 30px;
                font-family: 'PT-Sans-700', sans-serif;
                margin-bottom: 15px;
                color: $black;
            }

            &-text {
                font-size: 20px;
                color: $black;
                text-decoration: none;

                &_link {
                    color: $dark-blue;
                    font-family: 'PT-Sans-700', sans-serif;
                    cursor: pointer;
                }
            }
        }
    }
}

.footer {
    background-color: $white-gray;
    padding: 100px 0;

    &__partners {
        width: 100%;
        padding: 50px 0;

        &-container {
            @include container-width;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            
            @media (max-width: 550px) {
                flex-direction: column;
                justify-content: center;
            }
        }

        &-card {
            width: 45%;
            margin-bottom: 100px;

            @media (max-width: 550px) {
                width: 100%;
            }

            &-img {
                text-align: left;
                width: 50%;
                height: 50%;
            }

            &-title {
                font-size: 30px;
                color: $black;
                font-family: 'PT-Sans-700', sans-serif;
            }

            &-text {
                font-size: 20px;
                color: $black;
                font-family: 'PT-Sans-400i', sans-serif;
            }
        }
    }

    &__copyright {

        &-container {
            @include container-width;
            text-align: center;
        }

        &-text {
            font-size: 40px;
        }
    }
}