@mixin container-width {
    max-width: 1300px;
    //padding: 0 20px;
    margin: auto;
    
    @media (max-width: 1400px) {
        max-width: 1200px;
    }

    @media (max-width: 1300px) {
        max-width: 1100px;
    }

    @media (max-width: 1200px) {
        max-width: 1000px;
    }

    @media (max-width: 1100px) {
        max-width: 800px;
    }
}

@mixin section {
    width: 100%;
    min-height: 100vh;
}

@mixin menu-underline() {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
}

@mixin header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $HEADER-HEIGHT;
    z-index: 2;
    font-family: 'PT-Sans-700', sans-serif;

    &__container {
        background-color: $white;
        width: 100%;
        height: $HEADER-HEIGHT;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;

    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        text-decoration: none;

        &-img {

        }

        &-text {
            color: $dark-blue;
            font-size: 22px;
            font-family: 'PT-Sans-700', sans-serif;
        }
    }

    @media (min-width: 1051px) {
        .header__menu {
            display: none;
        }

        .header__burger-checkbox {
            display: none;
        }

        .header__burger {
            display: none;
        }

        &__nav-desktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            width: 70%;
        }

        &__nav-item {
            color: $black-55;
            text-decoration: none;
            font-size: 22px;
            transition: 0.3s ease;

            &:hover {
                scale: 1.03;
                color: $dark-blue;
            }

            @media (max-width: 1520px) {
                font-size: 20px;
            }

            @media (max-width: 1420px) {
                font-size: 18px;
            }

            @media (max-width: 1240px) {
                font-size: 16px;
            }

            @media (max-width: 1150px) {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 1050px) {
        .header__nav-desktop {
            display: none;
        }

        &__burger {
            width: 30px;
            height: 19px;
            background: url("../materials/burger.svg") center/cover no-repeat;
            cursor: pointer;
        }

        &__burger-checkbox {
            display: none;

            &:checked ~ .header__menu {
                opacity: 1;
                pointer-events: all;
            }
        }

        &__menu {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
            position: fixed;
            top: $HEADER-HEIGHT;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: $white-30;
            backdrop-filter: blur(5px);

            &-content {
                position: relative;
                width: 800px;
                background: $white;
                border: 4px solid $light-blue;
                margin: auto;
                padding: 30px;
                border-radius: 25px;
                box-shadow: 0 4px 4px 0 $black-30;
                top: 50%;
                transform: translateY(-60%);

                @media (max-width: 850px) {
                    width: 600px;
                }

                @media (max-width: 650px) {
                    width: 500px;
                }

                @media (max-width: 550px) {
                    width: 400px;
                }

                @media (max-width: 430px) {
                    width: 350px;
                }

                @media (max-width: 380px) {
                    width: 300px;
                }
            }

            &-header-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100px;
                gap: 20px;
            }

            &-logo {
                width: 65px;
                height: 65px;
            }

            &-text {
                color: $dark-blue;
                font-size: 55px;
            }

            &-nav {
                display: flex;
                flex-direction: column;
            }

            &-item {
                width: 100%;
                color: $black-55;
                position: relative;
                text-decoration: none;
                font-size: 25px;
                padding: 10px 0 10px 20px;
                font-family: 'PT-Sans-700', sans-serif;
                transition: 0.2s;

                &::after {
                    @include menu-underline;
                    background: $black-30;
                }

                &::before {
                    @include menu-underline;
                    width: 0;
                    background: linear-gradient(
                                    90deg,
                                    rgba(15, 109, 126, 1) 0%,
                                    rgba(94, 183, 198, 1) 100%
                    );
                    transition: width 0.3s ease;
                }

                &:hover {
                    color: $dark-blue;
                    scale: 1.01;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}