@import "../styles/fonts.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

* {
    font-family: 'PT-Sans-400', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.header {
    @include header-menu;
    &__id-search {
        &-label {
            position: relative;
            width: 230px;
            height: 30px;
            
            @media (max-width: 1600px) {
                width: 200px;
            }

            @media (max-width: 1470px) {
                width: 180px;
            }

            @media (max-width: 1400px) {
                width: 150px;
            }

            @media (max-width: 1270px) {
                width: 110px;
            }

            @media (max-width: 1140px) {
                width: 80px;
            }

            @media (max-width: 1050px) {
                width: 230px;
            }

            @media (max-width: 570px) {
                width: 190px;
            }

            @media (max-width: 540px) {
                width: 150px;
            }
        }

        &-input {
            width: 100%;
            height: 30px;
            border: 2px solid $dark-blue;
            background-color: $white;
            outline: none;
            border-radius: 15px;
            padding-left: 10px;
            line-height: 25px;
            font-size: 16px;

            @media (max-width: 1470px) {
                font-size: 14px;
            }
        }
    }
}

.main {
    margin-top: calc($HEADER-HEIGHT + 40px);

    &__subject {
        color: $dark-blue;
        text-shadow: 0 0 10px $light-blue;
        text-align: center;

        @media (max-width: 620px) {
            display: flex;
            flex-direction: column;
            &_left {

            }

            &_center {
                display: none;
            }

            &_right {

            }
        }
    }

    &__headbar {
        position: relative;
        padding: 30px 0;
        &-container {
            @include container-width;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 620px) {

            }
        }
        &-pages {
            display: flex;
            gap: 10px;
            &-page{
                display: inline-block;
                width: 40px;
                height: 40px;
                background-color: $white;
                border-radius: 100%;
                border: 2px solid $dark-blue;
                text-align: center;
                line-height: 35px;
                text-decoration: none;
                color: $dark-blue;
                font-size: 20px;
                font-weight: 700;
                transition: 0.2s;

                &:hover {
                    background-color: $dark-blue;
                    color: $white;

                }

                &:active {
                    @include active;
                }
            }
        }

        &-filter {
            border-radius: 50%;
            border: 2px solid $dark-blue;
            background-color: transparent;
            color: $dark-blue;
            outline: none;
            width: 40px;
            height: 40px;
            transition: 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;

            &-img {
                width: 60%;
                height: 60%;
            }

            &:hover {
                background-color: $dark-blue;
                color: $white;
            }

            &:active {
                @include active;
            }
        }

        &-generator {

            transition: 0.2s;

            &-img {

            }

            &:active {
                @include active;
            }
        }
    }

    &__tasks {
        width: 100%;

        &-container {
            @include container-width;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &-card {
            position: relative;
            background-color: $dark-gray;
            padding: 10px 15px $card-footer-height 15px;
            border-radius: 15px;
            &-title {
                font-size: 20px;
                margin-bottom: 10px;
            }

            &-description {
                font-size: 16px;
                margin-bottom: 10px;
            }

            &-form {
                display: flex;
                gap: 10px;
                margin: 25px 0;
            }

            &-input {
                width: 220px;
                height: 30px;
                border: 2px solid $dark-blue;
                background-color: $white;
                outline: none;
                border-radius: 15px 0 0 15px;
                padding-left: 10px;
                line-height: 25px;
                font-size: 16px;
            }

            &-btn {
                width: 100px;
                height: 30px;
                border: 2px solid $dark-blue;
                background-color: $white;
                color: $black-55;
                outline: none;
                border-radius: 0 15px 15px 0;
                text-align: center;
                transition: 0.2s;
                font-size: 16px;

                &_none {
                    width: 150px;
                    border-radius: 15px;
                }

                &:hover {
                    background-color: $dark-blue;
                    color: $white;
                }

                &:active {
                    @include active;
                }
            }

            &-module {
                display: none;
                position: absolute;
                bottom: 55px;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 40px);
                height: 95px;
                flex-direction: column;
                background: linear-gradient(180deg, rgb(15, 109, 126, 0.6) 0%, rgba(94, 183, 198, 0.6) 100%);
                border-radius: 15px;
                box-shadow: 0 2px 2px 0 $black-30;
                backdrop-filter: blur(5px);

                &-header {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 35px;
                    background-color: $light-blue-30;
                    border-radius: 15px 15px 0 0;
                    text-align: center;

                    &-title {
                        color: $dark-blue;
                        line-height: 35px;
                    }
                }

                &-info {

                }

                &-filter {
                    @include container-width;
                    position: absolute;
                    z-index: 255;
                    top: 200px;
                    width: 100%;
                    height: 250px;

                    @media (max-width: 800px) {
                        height: 230px;
                    }

                    @media (max-width: 680px) {
                        height: 220px;
                    }

                    @media (max-width: 620px) {
                        height: 200px;
                    }

                    @media (max-width: 620px) {
                        padding: 0 10px;
                    }

                    @media (max-width: 556px) {
                        height: 190px;
                    }

                    @media (max-width: 506px) {
                        padding: 0 5px;
                    }

                    @media (max-width: 353px) {
                        height: 250px;
                    }

                    @media (max-width: 335px) {
                        height: 270px;
                    }

                    &-form {
                        padding: 10px 15px;
                        margin-top: 35px;
                        
                        @media (max-width: 556px) {
                            padding: 0;
                        }

                        &-number-of-oge {
                            display: flex;
                            gap: 15px;

                            @media (max-width: 800px) {
                                gap: 5px;
                            }

                            &-text {
                                @include filter-text;
                            }

                            &-select {
                                width: 180px;
                                border-radius: 5px 15px 15px 5px;
                                padding: 0 5px;
                                border: 3px solid $dark-blue;
                                outline: none;
                                text-align: center;
                                color: $black-55;
                                font-size: 16px;
                                transition: 0.2s;

                                @media (max-width: 800px) {
                                    width: 150px;
                                    height: 26px;
                                }

                                @media (max-width: 620px) {
                                    width: 120px;
                                    height: 22px;
                                    font-size: 12px;
                                }

                                &:hover {
                                    box-shadow: 0 0 4px 2px $dark-blue;
                                    transform: scale(1.02);
                                }

                                &-option {

                                }
                            }
                        }

                        &-radial-search {
                            margin-top: 20px;

                            &-text {
                                @include filter-text;
                            }

                            &-solve {
                                @include filter-radial-preset;

                            }

                            &-favorite {
                                @include filter-radial-preset;
                            }
                        }

                        &-buttons {
                            position: relative;
                            top: 25px;
                            text-align: right;

                            &-search {
                                @include filter-button;
                                width: 80px;
                                border-radius: 15px 0 0 15px;
                            }

                            &-reset {
                                @include filter-button;
                                width: 140px;
                                border-radius: 0 15px 15px 0;
                            }
                        }
                    }
                }
            }

            &-footer {
                width: 100%;
                height: $card-footer-height;
                position: absolute;
                border-radius: 0 0 15px 15px;
                bottom: 0;
                left: 0;
                background-color: $light-blue-30;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 15px;

                &-id {
                    font-weight: 700;
                    color: $dark-blue;
                }

                &-status {
                    font-weight: 700;
                    color: $dark-blue;

                    &-color {
                        color: $dark-blue;
                    }
                }

                &-info {
                    border-radius: 50%;
                    border: 3px solid $dark-blue;
                    background-color: transparent;
                    color: $dark-blue;
                    outline: none;
                    width: 30px;
                    height: 30px;
                    font-size: 18px;
                    font-weight: 700;
                    text-align: center;
                    transition: 0.2s;

                    &:hover {
                        background-color: $dark-blue;
                        color: $white;
                    }

                    &:active {
                        @include active;
                    }
                }

                &-favorite {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    width: 30px;
                    height: 30px;
                    transition: 0.2s;

                    &-img {
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {

                    }

                    &:active {
                        @include active;
                    }
                }

                &-left {
                    display: flex;
                    gap: 20px;
                }

                &-right {
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }
}