@font-face {
  font-family: "PT-Sans-400";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-400i";
  src: url("../fonts/PTSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PT-Sans-700";
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-700i";
  src: url("../fonts/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
* {
  font-family: "PT-Sans-400", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  font-family: "PT-Sans-700", sans-serif;
}
.header__container {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-decoration: none;
}
.header__logo-text {
  color: #0F6D7E;
  font-size: 22px;
  font-family: "PT-Sans-700", sans-serif;
}
@media (min-width: 1051px) {
  .header .header__menu {
    display: none;
  }
  .header .header__burger-checkbox {
    display: none;
  }
  .header .header__burger {
    display: none;
  }
  .header__nav-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
  }
  .header__nav-item {
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s ease;
  }
  .header__nav-item:hover {
    scale: 1.03;
    color: #0F6D7E;
  }
}
@media (min-width: 1051px) and (max-width: 1520px) {
  .header__nav-item {
    font-size: 20px;
  }
}
@media (min-width: 1051px) and (max-width: 1420px) {
  .header__nav-item {
    font-size: 18px;
  }
}
@media (min-width: 1051px) and (max-width: 1240px) {
  .header__nav-item {
    font-size: 16px;
  }
}
@media (min-width: 1051px) and (max-width: 1150px) {
  .header__nav-item {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .header .header__nav-desktop {
    display: none;
  }
  .header__burger {
    width: 30px;
    height: 19px;
    background: url("../materials/burger.svg") center/cover no-repeat;
    cursor: pointer;
  }
  .header__burger-checkbox {
    display: none;
  }
  .header__burger-checkbox:checked ~ .header__menu {
    opacity: 1;
    pointer-events: all;
  }
  .header__menu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
  }
  .header__menu-content {
    position: relative;
    width: 800px;
    background: #ffffff;
    border: 4px solid #5EB7C6;
    margin: auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateY(-60%);
  }
}
@media (max-width: 1050px) and (max-width: 850px) {
  .header__menu-content {
    width: 600px;
  }
}
@media (max-width: 1050px) and (max-width: 650px) {
  .header__menu-content {
    width: 500px;
  }
}
@media (max-width: 1050px) and (max-width: 550px) {
  .header__menu-content {
    width: 400px;
  }
}
@media (max-width: 1050px) and (max-width: 430px) {
  .header__menu-content {
    width: 350px;
  }
}
@media (max-width: 1050px) and (max-width: 380px) {
  .header__menu-content {
    width: 300px;
  }
}
@media (max-width: 1050px) {
  .header__menu-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    gap: 20px;
  }
  .header__menu-logo {
    width: 65px;
    height: 65px;
  }
  .header__menu-text {
    color: #0F6D7E;
    font-size: 55px;
  }
  .header__menu-nav {
    display: flex;
    flex-direction: column;
  }
  .header__menu-item {
    width: 100%;
    color: rgba(0, 0, 0, 0.55);
    position: relative;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 0 10px 20px;
    font-family: "PT-Sans-700", sans-serif;
    transition: 0.2s;
  }
  .header__menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
  }
  .header__menu-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    width: 0;
    background: linear-gradient(90deg, rgb(15, 109, 126) 0%, rgb(94, 183, 198) 100%);
    transition: width 0.3s ease;
  }
  .header__menu-item:hover {
    color: #0F6D7E;
    scale: 1.01;
  }
  .header__menu-item:hover::before {
    width: 100%;
  }
}

.main {
  margin-top: 90px;
}
.main__subject {
  color: #0F6D7E;
  text-shadow: 0 0 10px #5EB7C6;
  text-align: center;
}
@media (max-width: 620px) {
  .main__subject {
    display: flex;
    flex-direction: column;
  }
  .main__subject_center {
    display: none;
  }
}
.main__headbar {
  padding: 30px 0;
}
.main__headbar-container {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  .main__headbar-container {
    max-width: 1200px;
  }
}
@media (max-width: 1300px) {
  .main__headbar-container {
    max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  .main__headbar-container {
    max-width: 1000px;
  }
}
@media (max-width: 1100px) {
  .main__headbar-container {
    max-width: 800px;
  }
}
.main__headbar-pages {
  display: flex;
  gap: 10px;
}
.main__headbar-pages-page {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100%;
  border: 2px solid #0F6D7E;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  color: #0F6D7E;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
}
.main__headbar-pages-page:hover {
  background-color: #0F6D7E;
  color: #ffffff;
}
.main__headbar-pages-page:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}
.main__headbar-filter {
  border-radius: 50%;
  border: 2px solid #0F6D7E;
  background-color: transparent;
  color: #0F6D7E;
  outline: none;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__headbar-filter-img {
  width: 60%;
  height: 60%;
}
.main__headbar-filter:hover {
  background-color: #0F6D7E;
  color: #ffffff;
}
.main__headbar-filter:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}
.main__headbar-generator {
  transition: 0.3s;
}
.main__headbar-generator:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}
.main__tasks {
  width: 100%;
}
.main__tasks-container {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1400px) {
  .main__tasks-container {
    max-width: 1200px;
  }
}
@media (max-width: 1300px) {
  .main__tasks-container {
    max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  .main__tasks-container {
    max-width: 1000px;
  }
}
@media (max-width: 1100px) {
  .main__tasks-container {
    max-width: 800px;
  }
}
.main__tasks-card {
  position: relative;
  background-color: #E8E8E8;
  padding: 10px 15px 40px 15px;
  border-radius: 15px;
}
.main__tasks-card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.main__tasks-card-description {
  font-size: 16px;
  margin-bottom: 10px;
}
.main__tasks-card-form {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}
.main__tasks-card-input {
  width: 220px;
  height: 30px;
  border: 2px solid #0F6D7E;
  background-color: #ffffff;
  outline: none;
  border-radius: 15px 0 0 15px;
  padding-left: 10px;
  line-height: 25px;
  font-size: 16px;
}
.main__tasks-card-btn {
  width: 100px;
  height: 30px;
  border: 2px solid #0F6D7E;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.55);
  outline: none;
  border-radius: 0 15px 15px 0;
  text-align: center;
  transition: 0.3s;
  font-size: 16px;
}
.main__tasks-card-btn_none {
  width: 150px;
  border-radius: 15px;
}
.main__tasks-card-btn:hover {
  background-color: #0F6D7E;
  color: #ffffff;
}
.main__tasks-card-btn:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}
.main__tasks-card-module-info {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 95px;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(15, 109, 126, 0.6) 0%, rgba(94, 183, 198, 0.6) 100%);
  border-radius: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
.main__tasks-card-module-info-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: rgba(94, 183, 198, 0.3);
  border-radius: 15px 15px 0 0;
  text-align: center;
}
.main__tasks-card-module-info-header-title {
  color: #0F6D7E;
  line-height: 35px;
}
.main__tasks-card-footer {
  width: 100%;
  height: 40px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  bottom: 0;
  left: 0;
  background-color: rgba(94, 183, 198, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.main__tasks-card-footer-id {
  font-weight: 700;
  color: #0F6D7E;
}
.main__tasks-card-footer-status {
  font-weight: 700;
  color: #0F6D7E;
}
.main__tasks-card-footer-status-color {
  color: #0F6D7E;
}
.main__tasks-card-footer-info {
  border-radius: 50%;
  border: 3px solid #0F6D7E;
  background-color: transparent;
  color: #0F6D7E;
  outline: none;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  transition: 0.3s;
}
.main__tasks-card-footer-info:hover {
  background-color: #0F6D7E;
  color: #ffffff;
}
.main__tasks-card-footer-info:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}
.main__tasks-card-footer-favorite {
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.main__tasks-card-footer-favorite-img {
  width: 100%;
  height: 100%;
}
.main__tasks-card-footer-favorite:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}
.main__tasks-card-footer-left {
  display: flex;
  gap: 20px;
}
.main__tasks-card-footer-right {
  display: flex;
  gap: 20px;
}

/*# sourceMappingURL=oge-tasks.css.map */
