@import "../styles/fonts.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

* {
    font-family: 'PT-Sans-400', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    @include header-menu;
}

.main {
    margin-top: calc($HEADER-HEIGHT + 40px);
    &__selector {
        @include section;
        min-height: auto;

        &-container {
            @include container-width;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            @media (max-width: 1100px) {
                flex-direction: column;
            }

            @media (max-width: 1000px) {
                justify-content: center;
            }
        }

        &-radio {
            display: none;
            &:checked + .main__selector-label {
                color: $dark-blue;
                text-shadow: 0 0 10px $light-blue;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -4px;
                    width: 80%;
                    height: 2px;
                    background-color: $dark-blue;
                    box-shadow: 0 0 10px $light-blue;
                    opacity: 0.2;
                    border-radius: 20px;
                }
            }
        }

        &-label {
            transition: 0.2s;
            font-size: 35px;
            text-align: center;

            @media (max-width: 1300px) {
                font-size: 30px;
            }

            @media (max-width: 600px) {
                font-size: 27px;
            }

            @media (max-width: 480px) {
                font-size: 22px;
            }

            &:hover {
                scale: 1.03;
                color: $dark-blue;
            }

            &_left {

            }

            &_right {

            }
        }


        &-line {
            font-size: 45px;

            @media (max-width: 1100px) {
                font-size: 25px;
                rotate: 90deg;
                display: none;
            }
        }
    }

    &__subjects {
        @include container-width;
        height: 100%;
        margin: 60px auto 0 auto;

        &-page {
            width: 100%;
            height: 100%;
            &_oge {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                justify-content: center;
                justify-items: center;
                gap: 30px;

                @media (max-width: 1300px) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                }

                @media (max-width: 950px) {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                }

                @media (max-width: 650px) {
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(7, 1fr);
                }
            }

            &_thematic {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: center;
                justify-items: center;
                gap: 30px;

                @media (max-width: 1400px) {
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                }
            }

            &-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                position: relative;
                width: 280px;
                height: 225px;
                background: linear-gradient(180deg,rgba(15, 109, 126, 1) 0%, rgba(94, 183, 198, 1) 100%);
                box-shadow: 0 4px 4px $black-30;
                border-radius: 30px;
                padding: 15px;
                transition: 0.2s ease-in-out;

                @media (max-width: 1100px) {
                    width: 250px;
                    height: 190px;
                }

                &_thematic {
                    width: 400px;

                    @media (max-width: 1100px) {
                        width: 400px;
                        height: 225px;
                    }

                    @media (max-width: 600px) {
                        width: 300px;
                        height: 200px;
                    }
                }

                &-header {
                    color: $white;
                    width: 90%;
                    font-size: 35px;
                    text-shadow: 0 6px 6px $black-30;
                    position: absolute;
                    top: 15px;
                    left: 15px;

                    @media (max-width: 1100px) {
                        font-size: 30px;
                    }

                    &_thematic {
                        font-size: 30px;

                        @media (max-width: 600px) {
                            font-size: 20px;
                        }
                    }
                }

                &-img {
                    width: 105px;
                    height: 105px;
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                }

                &:hover {
                    scale: 1.03;
                }
            }
        }
    }

    &__links {
        @include section;
        margin-top: 100px;
        min-height: auto;
        padding-bottom: 100px;

        &-cards {
            @include container-width;
            display: flex;
            flex-direction: column;
        }

        &-card {
            width: 100%;
            padding: 15px;
            position: relative;

            &-header {
                font-size: 45px;
                color: $dark-blue;
                font-family: "PT-Sans-700", serif;
                text-decoration: none;

                @media (max-width: 750px) {
                    font-size: 30px;
                }

                @media (max-width: 450px) {
                    font-size: 25px;
                }


                &:hover {
                    text-decoration: underline;
                }
            }

            &-text {
                font-size: 24px;

                @media (max-width: 750px) {
                    font-size: 20px;
                }

                @media (max-width: 450px) {
                    font-size: 16px;
                }


            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -4px;
                width: 100%;
                height: 2px;
                background-color: $black-30;
                border-radius: 20px;
            }

            &:nth-of-type(1) {
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $black-30;
                    border-radius: 20px;
                }
            }
        }
    }
}