@import "../styles/fonts.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

* {
    font-family: 'PT-Sans-400', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    @include header-menu;
}

.main {
    margin-top: calc($HEADER-HEIGHT + 40px);

    &__subject {
        color: $dark-blue;
        text-shadow: 0 0 10px $light-blue;
        text-align: center;

        @media (max-width: 620px) {
            display: flex;
            flex-direction: column;
            &_left {

            }

            &_center {
                display: none;
            }

            &_right {

            }
        }
    }

    &__headbar {
        padding: 30px 0;
        &-container {
            @include container-width;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 620px) {

            }
        }
        &-filter {

        }
        &-pages {
            display: flex;
            gap: 10px;
            &-page{
                display: inline-block;
                width: 40px;
                height: 40px;
                background-color: $gray;
                border-radius: 100%;
                border: 3px solid $dark-blue;
                text-align: center;
                line-height: 35px;
                text-decoration: none;
                color: $dark-blue;
                font-size: 20px;
                font-weight: 700;
                transition: 0.3s;

                &:hover {
                    background-color: $dark-blue;
                    color: $white;

                }
            }
        }
        &-generator {

        }
    }

    &__tasks {
        width: 100%;
        &-container {
            @include container-width;
        }
    }
}