// ЦВЕТА
$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$white-gray: #F5F5F5;
$black: #000000;
$black-55: rgba(0, 0, 0, 0.55);
$black-30: rgba(0, 0, 0, 0.30);
$dark-blue: #0F6D7E;
$light-blue: #5EB7C6;

// КОНСТАНТЫ
$HEADER-HEIGHT: 50px;

// ПЕРЕМЕННЫЕ
$burger-status: 0;