// ЦВЕТА
$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$white-gray: #F5F5F5;
$gray: #D9D9D9;
$dark-gray: #E8E8E8;
$black: #000000;
$black-55: rgba(0, 0, 0, 0.55);
$black-30: rgba(0, 0, 0, 0.30);
$dark-blue: #0F6D7E;
$light-blue: #5EB7C6;
$light-blue-30: rgba(94, 183, 198, 0.3);

// КОНСТАНТЫ
$HEADER-HEIGHT: 50px;

// ПЕРЕМЕННЫЕ
$burger-status: 0;
$card-footer-height: 40px;